body
{
margin:0;
padding:0;
background-color: lightgrey;

}
.Center
{
position: absolute;
top:60%;
left:50%;
transform: translate(-50%,-50);
}
.ball
{
width:50px;
border-top:25px solid #f52;
border-bottom:25px solid #fff;
border-radius:50%;
animation: bounce 1s infinite linear;
}
.shadow
{
postion:absolute;
top:40px;
width:50px;
left:0px;
height:10px;
background-color: #262626;
border-radius:50%;
opacity:8;
animation:shadow 1s infinite linear;
}
@keyframes bounce
{
0%
{
transform:translateY(0)rotate(0deg);
}
50%
{
transform:translateY(-200px)rotate(180deg);
}
100%
{
transform:translateY(0)rotate(360deg);
}
}
@keyframes shadow
{
0%
{
transform: scale(1);
opacity: .8;
}
50%
{
transform: scale(.4);
opacity: .3;
}
100%
{
transform: scale(1);
opacity: .8;
}